extends layout

mixin profile-module(src, name, online,id)

    .standard-padding#ollekaiser()
        .dsp-flex.profile-container#profile
            .profile-picture
                img(src=src height="40")
            div
                p= name
                .dsp-flex
                    if online
                        .circle-sm.green
                    else
                        .circle-sm.gray
                    .small-separator
                    if online
                        p Aktiv
                    else
                        p Inaktiv
mixin chatsent(msg)
    .dsp-flex
        .chatsent
            p= msg

mixin chatrecived(msg)
    .dsp-flex
        .chatrecived
            p= msg

mixin loadchat(messages, chattingwith)
    +profile-module("./assets/olle.jpg","Olle Kaiser", true, "boi", true)
    .line
    +chatrecived("Hej")
    +chatrecived("HEJ DÅ kdjfkl jklsdjfklsdjofjejef")
    +chatsent("Bajs")
    +chatrecived("hello")
    +chatsent("HEEEJ SJlksdjfklsdfjklsdjf  kjsdfljsd  djf")
    .line
    .dsp-flex
        input#send1input(placeholder="Meddelande...")
        button.button-send#send1
    

block nav
    include nav.pug
block content
    .center-contents
        h1 Chattar
        .card
            p.section SENASTE
                +profile-module("./assets/pop.jpg","Christoffer Billman", true, "idk")
                +profile-module("./assets/olle.jpg","Olle Kaiser", "ollekaiser")
        .card
            p.section SKAPA
                input(placeholder="Sök vänner ...")
                +profile-module("./assets/olle.jpg", "Olle Kaiser")

    script(src="/javascripts/home.js")
    script(src="/javascripts/darkmode.js")
    