extends layout

mixin profile-module(user)

    .standard-padding
        .dsp-flex.profile-container#profile
            .profile-picture
                img(src= user.src height="40")
            div
                p= user.displayname
                .dsp-flex
                    if user.online
                        .circle-sm.green
                    else
                        .circle-sm.gray
                    .small-separator
                    if user.online
                        p Aktiv
                    else
                        p Inaktiv
mixin chatsent(msg)
    .dsp-flex
        .chatsent
            p= msg

mixin chatrecived(msg)
    .dsp-flex
        .chatrecived
            p= msg

mixin loadchat(messages, chattingwith)
    +profile-module("./assets/olle.jpg","Olle Kaiser", true, "boi", true)
    .line
    +chatrecived("Hej")
    +chatrecived("HEJ DÅ kdjfkl jklsdjfklsdjofjejef")
    +chatsent("Bajs")
    +chatrecived("hello")
    +chatsent("HEEEJ SJlksdjfklsdfjklsdjf  kjsdfljsd  djf")
    .line
    .dsp-flex
        input#send1input(placeholder="Meddelande...")
        button.button-send#send1
    

block nav
    include nav.pug
block content
    .center-contents
        h1 Chattar
        .card
            if users != ""
                p.section VÄNNER
                each user in users
                    +profile-module(user)
                input#searchbar(placeholder="Sök användare...")
            else
                p.section HITTA VÄNNER
                h2.gray Vi ser att du är ny här, välkommen! 
                p.gray Börja genom att skaffa några vänner i sökfältet nedan.
                input#searchbar(placeholder="Sök användare...")
        .card#searchresults
            p.gray Skriv för att söka
                    

                    

    script(src="/javascripts/home.js")
    script(src="/javascripts/darkmode.js")
    