extends layout

block content
    .center-contents
        h1 Logga in
        .card
            input(type="text" placeholder="Användarnamn")
            input(type="password" placeholder="Lösenord")
            button.primary Logga in
        h1 Skapa konto
        .card
            input(type="text" placeholder="Användarnamn")
            input(type="password" placeholder="Lösenord")
            button.primary Skapa konto
            p.sm Genom att klicka på "Skapa konto" accepterar du användarvillkoren.


