extends layout

block content
    .center-contents
        h1 Logga in
        .card
            input#username(type="text" placeholder="Användarnamn")
            input#password(type="password" placeholder="Lösenord")
            button.primary#loginbtn Logga in
        h1 Skapa konto
        .card
            input#newUsername(type="text" placeholder="Användarnamn")
            input#newPassword(type="password" placeholder="Lösenord")
            button.primary#registerbtn Skapa konto
            p.sm Genom att klicka på "Skapa konto" accepterar du användarvillkoren.
    script(src="/javascripts/darkmode.js")
    script(src="/javascripts/index.js")


