nav
    .center-contents
        canvas#canvas(width="200px" height="200px")
        .navcontainer
            a#home(href="/home") Hem
            a#settings(href="/settings") Inställningar
    script(src="/javascripts/nav.js")