extends layout

mixin switch(id)
    div
        .float-right
            label.switch
                input(type="checkbox" id=id)
                span.slider
        if block
            block
        else
            p null

block nav
    include nav.pug
block content
    .center-contents
        h1 Inställningar
        .card
            p.section ALLMÄNT
            +switch('darkmodeSwitch')
                p Mörkt läge
                p.sm Tillämpar ett mörkt tema på hemsidan. Enkelt mot ögonen.
            .line
            +switch()
                p Smart tematillämpning
                p.sm Justerar automatiskt vilket tema som används beroende på tiden på dagen.
        .card
            p.section KONTO
            +switch('hideprofileSwitch')
                p Göm profil
                p.sm Din profil blir inte synlig för andra. Andra kan inte skicka vänförfrågningar till dig.
            .line
            p Byt användarnamn
            input#newUsername(placeholder="Nytt användarnamn")
            button.primary.nomargin Verkställ
            .line
            p Byt lösenord
            input#newPassword(placeholder="Nytt lösenord")
            input#confirmNewPassword(placeholder="Bekräfta lösenord")
            button.primary.nomargin#changePasswordBtn Verkställ
        .card
            p.section CHATT
            +switch('msgstatusSwitch')
                p Meddelandekvittenser
                p.sm Personer som skickar meddelanden till dig kan se om du t.ex läst meddelandet. Om detta är av kan inte du heller se andras kvittenser.
    script(src="javascripts/settings.js")
    script(src="javascripts/darkmode.js")
